*{box-sizing: border-box;
margin:0px;
padding:0px;}

body 
{
    background: rgb(245, 78, 1);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.wrapper 
{
    position: relative;
    width:100vw;
    height:100vh;
    max-width: 2000px;
    max-height: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background
{
    background: green;
    position: absolute;
    width: 80px;
    height:80px;
    z-index: -1;
    border-radius: 100%;
   
}



header 
{
    width:100vw;
    height:200px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.head
{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding:15px;

}

.break-wrapper, .session-wrapper 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter 
{
    position: relative;
    width:80px;
    height: 80px;
    background: white;
    border-radius: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
}

.button-wrapper 
{
    display: flex;
    width:120px;
    justify-content: space-between;
}

.state-header 
{
    margin-top: 15px;
    height:70px;
    padding:10px;
    letter-spacing: 2.5px;
    font-size:45px;
}

.main-counter 
{
    margin-top: 25px;
    font-size: 55px;
    width:200px;
    height:200px;
    border-radius: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button 
{
    border-radius: 100%;
    border:none;
    width:50px;
    height:50px;
    background: white;
    font-size: 25px;
}